{
    "plugins": [
        ["@semantic-release/commit-analyzer", {
            "releaseRules": [
                {"type": "docs", "scope": "xml", "release": "patch"}
            ]
        }],
        "@semantic-release/release-notes-generator",
        ["@semantic-release/exec", {
            "analyzeCommitsCmd": "powershell -Command \"(gc Ruffles.nuspec) -replace '<version>0.1.0</version>', -join('<version>', ${lastRelease.version}, '</version>') | Out-File Ruffles.nuspec\"",
            "verifyReleaseCmd": "powershell -Command \"(gc Ruffles.nuspec) -replace '<version>0.1.0</version>', -join('<version>', ${nextRelease.version}, '</version>') | Out-File Ruffles.nuspec\"",
            "publishCmd": "nuget push *.nupkg -ApiKey %nuget_key% -NonInteractive -Source https://api.nuget.org/v3/index.json",
        }],
        ["@semantic-release/github", {
            "assets": [
                {"path": "*net*.zip"}
            ]
        }]
    ]
}